<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dachen.teleconference">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".activity.MeetingActivity">
        </activity>
        <activity android:name=".activity.AgoraVoiceSdkDemo"/>
        <activity android:name=".activity.TeleIncomingActivity">
        </activity>
    </application>

</manifest>