<manifest package="com.dachen.community"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="@string/lib_name"
        tools:replace="android:label"
        android:theme="@android:style/Theme.Light.NoTitleBar"
        >

        <activity
            android:name="com.dachen.community.activity.PublishActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>

    </application>

</manifest>
